@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "header-style.css";
:root{
    --backColour: #121212;
    --foreColour: #ffffff;
    --thomasColour: #41FF00;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--backColour);
    color: var(--foreColour);
}

main{
    margin: 0px auto;
    width: 80%;
}

.theme-colour{
    color: var(--thomasColour);
}

.mono{
    font-family: 'Courier New', Courier, monospace;
}

.thomas-link{
    text-decoration: none;
    color: var(--foreColour);
}

.alert-box{
    background-color: grey;
    border-radius: 25px;
    padding: 0.5em;
}

.red{
    background-color: red;
}

.italic{
    font-style: italic;
}

a{
    color: var(--foreColour);
}

@media screen and (max-width: 430px) {
    main{
        width: 100%;
    }
}